.blog-post-listing {

  a {
    figure {
      overflow: hidden;
      max-height: 180px;

      source, img {
        max-width: 100%;
        transition: transform .4s;
      }

      figcaption {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -65%);
        width: 85%;
        opacity: 0.8;
        transition: all .6s;
        color: #FFF;

        h3 {
          font-weight: 800;
        }

        p {

        }

        div {
          text-align: center;
        }
      }
    }

    &:hover {
      figure {
        background-color: lighten(rgb(46,49,146), 10%);

        source, img {
          opacity: 0.15;
          transform: scale(1.1);
        }

        figcaption {
          opacity: 1;
          transform: translate(-50%, 50%);
        }
      }
    }
  }
}